<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.WorkbookMapper">

    <!-- insert -->
    <insert id="insertWorkbook" parameterType="com.co.kr.domain.WorkbookDomain">
       	INSERT INTO 
       		jsp.workbook(
	       		id,
	       		title)
       	VALUES(
       		#{id},
       		#{title})
    </insert>
    
    
    <!-- select all -->
    <select id="selectAllWorkbook" resultType="com.co.kr.domain.WorkbookDomain">
       	SELECT
       		id,
       		title
       	FROM
       		jsp.workbook
    </select>
    
    <!-- select one -->
    <select id="selectOneWorkbook" parameterType="hashMap" resultType="com.co.kr.domain.WorkbookDomain">
       	SELECT
       		id,
       		title
       	FROM
       		jsp.workbook
       	WHERE
       		id=#{id}
    </select>
    
    <!-- update -->
    <update id="updateWorkbook" parameterType="com.co.kr.domain.WorkbookDomain">
       	UPDATE
       		jsp.workbook
       	SET
       		title=#{title}
       	WHERE
       		id=#{id}
    </update>
    
    
    <!-- delete -->
    <delete id="deleteWorkbook" parameterType="hashMap">
       	DELETE 
       	FROM
       		jsp.workbook
       	WHERE
       		id=#{id}
    </delete>
    
    
    
    <!-- problem select by workbook -->
    <select id="selectByWorkbook" parameterType="hashMap" resultType="com.co.kr.domain.ProblemDomain">
       	SELECT
       		id,
       		workbook,
       		question,
       		answer
       	FROM
       		jsp.problem
       	WHERE
       		workbook=#{id}
       	ORDER BY
       		ranking ASC
    </select>
    <!-- problem select by id -->
    <select id="selectById" parameterType="hashMap" resultType="com.co.kr.domain.ProblemDomain">
       	SELECT
       		id,
       		workbook,
       		question,
       		answer
       	FROM
       		jsp.problem
       	WHERE
       		id=#{id}
    </select>
    
    <!-- problem insert -->
    <insert id="insertProblem" parameterType="com.co.kr.domain.ProblemDomain">
		INSERT INTO 
       		jsp.problem(
	       		id,
	       		workbook,
	       		question,
	       		answer,
	       		ranking)
       	VALUES(
       		#{id},
       		#{workbook},
       		#{question},
       		#{answer},
       		(SELECT count(*) as c from jsp.problem as p)+1)
	</insert>
    
    
    
</mapper>