<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.WorkbookMapper">

    <!-- insert -->
    <insert id="insertWorkbook" parameterType="com.co.kr.domain.WorkbookDomain">
       	INSERT INTO 
       		jsp.workbook(
	       		id,
	       		title,
	       		category,
	       		owner)
       	VALUES(
       		#{id},
       		#{title},
       		#{category},
       		#{owner})
    </insert>
    
    
    <!-- select all -->
    <select id="selectAllWorkbook" parameterType="hashMap" resultType="com.co.kr.domain.WorkbookDomain">
       	SELECT
       		id,
       		title,
       		category
       	FROM
       		jsp.workbook
       	WHERE
       		owner=#{owner}
    </select>
    
    <!-- select one -->
    <select id="selectOneWorkbook" parameterType="hashMap" resultType="com.co.kr.domain.WorkbookDomain">
       	SELECT
       		id,
       		title,
       		category
       	FROM
       		jsp.workbook
       	WHERE
       		id=#{id} AND owner=#{owner}
    </select>
    
    <!-- update -->
    <update id="updateWorkbook" parameterType="com.co.kr.domain.WorkbookDomain">
       	UPDATE
       		jsp.workbook
       	SET
       		title=#{title},
       		category=#{category}
       	WHERE
       		id=#{id} AND owner=#{owner}
    </update>
    
    
    <!-- delete -->
    <delete id="deleteWorkbook" parameterType="hashMap">
       	DELETE 
       	FROM
       		jsp.workbook
       	WHERE
       		id=#{id} AND owner=#{owner}
    </delete>
    
    
    
    <!-- problem select by workbook -->
    <select id="selectByWorkbook" parameterType="hashMap" resultType="com.co.kr.domain.ProblemDomain">
       	SELECT
       		id,
       		workbook,
       		question,
       		answer,
       		ranking
       	FROM
       		jsp.problem
       	WHERE
       		workbook=#{id}
       	ORDER BY
       		ranking ASC
    </select>
    <!-- problem select by id -->
    <select id="selectById" parameterType="hashMap" resultType="com.co.kr.domain.ProblemDomain">
       	SELECT
       		id,
       		workbook,
       		question,
       		answer,
       		ranking
       	FROM
       		jsp.problem
       	WHERE
       		id=#{id}
    </select>
    
    <!-- problem insert -->
    <insert id="insertProblem" parameterType="com.co.kr.domain.ProblemDomain">
		INSERT INTO 
       		jsp.problem(
	       		id,
	       		workbook,
	       		question,
	       		answer,
	       		ranking)
       	VALUES(
       		#{id},
       		#{workbook},
       		#{question},
       		#{answer},
       		(SELECT count(*) as c from jsp.problem as p)+1)
	</insert>
	
	<!-- problem update -->
    <update id="updateProblem" parameterType="com.co.kr.domain.ProblemDomain">
       	UPDATE
       		jsp.problem
       	SET
       		question=#{question},
       		answer=#{answer}
       	WHERE
       		id=#{id}
    </update>
    <!-- problem delete -->
    <delete id="deleteProblem" parameterType="hashMap">
       	DELETE 
       	FROM
       		jsp.problem
       	WHERE
       		id=#{id}
    </delete>
    
	
	<!-- record insert -->
	<insert id="insertRecord" parameterType="com.co.kr.domain.RecordDomain">
		INSERT INTO
			jsp.record(
				id,
				workbook,
				createAt,
				owner)
		VALUES(
			#{id},
			#{workbook},
			NOW(),
			#{owner})
	</insert>
	<!-- record select -->
	<select id="selectRecord" parameterType="hashMap" resultType="com.co.kr.domain.RecordDomain">
		SELECT
			id,
			workbook,
			createAt,
			owner
		FROM
			jsp.record
		WHERE
			owner=#{owner}
		ORDER BY
			id
	</select>
	<!-- record delete -->
	<delete id="deleteRecord" parameterType="hashMap">
		DELETE 
       	FROM
       		jsp.record
       	WHERE
       		id=#{id}
	</delete>
    
    
    <!-- category -->
    
    
    <!-- category insert -->
	<insert id="insertCategory" parameterType="com.co.kr.domain.CategoryDomain">
		INSERT INTO
			jsp.category(
				id,
				title)
		VALUES(
			#{id},
			#{title});
	</insert>
    
    <!-- category select all -->
	<select id="selectAllCategory" resultType="com.co.kr.domain.CategoryDomain">
		SELECT
			id,
			title
		FROM
			jsp.category
		ORDER BY
			id
	</select>
	
    <!-- category select one by category id -->
	<select id="selectOneCategory" parameterType="hashMap" resultType="com.co.kr.domain.CategoryDomain">
		SELECT
			id,
			title
		FROM
			jsp.category
		WHERE
			id=#{id};
	</select>
	
    <!-- category update -->
	<update id="updateCategory" parameterType="com.co.kr.domain.CategoryDomain">
		UPDATE
			jsp.category
		SET
			title=#{title}
		WHERE
			id=#{id};
	</update>
	
    <!-- category delete -->
	<delete id="deleteCategory" parameterType="hashMap">
		DELETE FROM
			jsp.category
		WHERE
			id=#{id};
	</delete>
    
</mapper>