<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header th:fragment="headerFragment">
	   <!-- Sidebar-->
	    <div class="border-end bg-white" id="sidebar-wrapper">
	        <div class="sidebar-heading border-bottom bg-light">Learning book</div>
	        <div class="list-group list-group-flush">
	            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/home}">Home</a>
	            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><del>Search</del></a>
	            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/category}">Category</a>
	            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/workbook}">Workbook</a>
	            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/record}">My Record</a>
	            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><del>My Information</del></a>
	            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{logout}">Logout</a>
	        </div>
	    </div>
	</header>
</html>