<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment" class="d-flex flex-nowrap h-100">
<!-- Sidebar-->
	<div class="d-flex flex-column flex-shrink-0 p-3 bg-light border-end w-100">
		<h1 class="text-center border-bottom mb-4 pb-2">
		<a th:href="@{/home}" class="d-flex align-items-center justify-content-center link-dark text-decoration-none">
      		<i class="bi bi-book me-2"></i>
      		<span class="fs-4">Learning book</span>
    	</a>
		</h1>
		
    	<ul class="nav nav-pills flex-column mb-auto sidebar1">
      		<li class="nav-item">
       			<a th:href="@{/home}" class="nav-link link-dark" aria-current="page">
        	  		<i class="bi bi-house me-1"></i>
          			Home
        		</a>
      		</li>
      		<li>
		        <a th:href="@{/search}" class="nav-link link-dark">
			    	<i class="bi bi-search me-1"></i>
			        Search
			    </a>
		    </li>
      		<li>
		        <a th:href="@{/category}" class="nav-link link-dark">
			    	<i class="bi bi-tags me-1"></i>
			        Category
			    </a>
		    </li>
      		<li>
		        <a th:href="@{/workbook}" class="nav-link link-dark">
			    	<i class="bi bi-journals me-1"></i>
			        Workbook
			    </a>
		    </li>
      		<li>
		        <a th:href="@{/testing}" class="nav-link link-dark">
			    	<i class="bi bi-journal-check me-1"></i>
			        Testing
			    </a>
		    </li>
      		<li>
		        <a th:href="@{/record}" class="nav-link link-dark">
			    	<i class="bi bi-calendar me-1"></i>
			        Record
			    </a>
		    </li>
      		<li>
		        <a th:href="@{/info}" class="nav-link link-dark">
			    	<i class="bi bi-info-circle me-1"></i>
			        My Information
			    </a>
		    </li>
      		<li>
		        
		    </li>
		</ul>
		<hr>
		<div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
			<a th:href="@{/logout}" class="nav-link link-dark fs-4">
		    	<i class="bi bi-box-arrow-left"></i>
		        <span>Logout</span>
		    </a>
	      
	    </div>		
	</div>
</header>
</html>