<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
    <title>record</title>
</head>


<div th:if=${session.id} layout:fragment="header">
	<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<h3 class="float-md-start mb-0">기록</h3>
	</div>
</div>

<div th:if=${session.id} layout:fragment="content" class="mb-auto">
	<!-- content -->
	<div id='calendar'></div>
</div>

<div th:if=${session.id} layout:fragment="etc">
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">기록</h5>
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     			</div>
      			<div class="modal-body">
        			기록 내용입니다.
      			</div>
      			<div class="modal-footer">
    				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        			<button type="button" class="btn btn-danger" id="deleteRecord">삭제</button>
      			</div>
    		</div>
  		</div>
	</div>
	
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>
<script>
let calendar;
let myModal;

document.addEventListener('DOMContentLoaded', function() {
	myModal=new bootstrap.Modal('#exampleModal')
	
    var calendarEl = document.getElementById('calendar');
    calendar = new FullCalendar.Calendar(calendarEl, {
		initialView: 'dayGridMonth',
		eventClick: detailRecord
    });
    calendar.render();
	addEvent(calendar);
});

function detailRecord(info){
	let id=info.event.id;
	$.ajax({
		url:"/api/record/"+id,
		type:"GET",
		contentType : 'application/json; charset=utf-8',
		success:function(response){
			$(".modal-body").html(`<p>워크북 번호: ${response.workbook}</p>
				<p>시기: ${response.createAt}</p>`)
			$(".modal-footer").html(`<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        			<button type="button" class="btn btn-danger" onclick="deleteRecord(${response.id})">삭제</button>`)
			
   			myModal.show();
		},
		error:function(request, status, error){
			console.log(error);
		}
	})
}

function deleteRecord(id){
	
	if ( !confirm('선택하신 기록을 삭제할까요?') ) {
        return false;
    }
	$.ajax({
		url:"/api/record/"+id,
		type:"DELETE",
		success:function(response){
			let event=calendar.getEventById(id);
			event.remove();
   			myModal.hide();
		},
		error:function(request, status, error){
			console.log(error);
		}
	})
}
</script>

<script th:inline="javascript">
/*<![CDATA[*/
function addEvent(calendar){
	const items=[[${items}]];
	items.forEach(item=>{
		calendar.addEvent({
			id:item.id,
			workbook: item.workbook,
			title: item.workbook,
			start: item.createAt.slice(0,10)
		})
	})
}
/*]]>*/
</script>
</div>
</html>