<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
    <title>record</title>
</head>


<div th:if=${session.id} layout:fragment="header">
	<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<h3 class="float-md-start mb-0">기록</h3>
	</div>
</div>

<div th:if=${session.id} layout:fragment="content" class="mb-auto">
	<!-- content -->
	<div id='calendar'></div>
</div>

<div th:if=${session.id} layout:fragment="etc">
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">기록</h5>
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     			</div>
      			<div class="modal-body">
        			기록 내용입니다.
      			</div>
      			<div class="modal-footer">
    				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        			<button type="button" class="btn btn-danger" id="deleteRecord">삭제</button>
      			</div>
    		</div>
  		</div>
	</div>
	<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">필터</h5>
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     			</div>
      			<div class="modal-body">
					<ul class="list-group list-group-horizontal justify-content-center">
				  		<ul class="list-group">
							<h4 class="text-center">카테고리</h4>
						  	<li class="list-group-item" th:each="category : ${categoryList}">
						    	<input class="form-check-input me-1" name="filterCategory" th:value="${category.id}" type="checkbox" th:id="|category_${categoryStat.index}|">
						    	<label class="form-check-label" th:for="|category_${categoryStat.index}|" th:text="${category.title}">checkbox</label>
						  	</li>
						</ul>
				  		<ul class="list-group">
							<h4 class="text-center">워크북</h4>
						  	<li class="list-group-item" th:each="workbook : ${workbookList}">
						    	<input class="form-check-input me-1" name="filterWorkbook" th:value="${workbook.id}" type="checkbox" th:id="|workbook_${workbookStat.index}|">
						    	<label class="form-check-label" th:for="|workbook_${workbookStat.index}|" th:text="${workbook.title}">checkbox</label>
						  	</li>
						</ul>
					</ul>
      			</div>
      			<div class="modal-footer">
    				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        			<button type="button" class="btn btn-danger" onclick="filterRecord()">적용</button>
      			</div>
    		</div>
  		</div>
	</div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>
<script>
let calendar;
let myModal;
let filterModal;

document.addEventListener('DOMContentLoaded', function() {
	myModal=new bootstrap.Modal('#exampleModal');
	filterModal=new bootstrap.Modal('#filterModal');
    var calendarEl = document.getElementById('calendar');
    calendar = new FullCalendar.Calendar(calendarEl, {
		timeZone: 'UTC+9',
		initialView: 'dayGridMonth',
		events:items.map(item=>{
			return {
				id:item.id,
				workbook: item.workbook,
				title: item.title,
				start: item.createAt,
				categoryId:item.categoryId,
				category:item.category,
				allDay:true
			}
		}),
		eventClick: detailRecord,
		themeSystem: 'bootstrap5',
		headerToolbar: {
	        start: 'custom1',
	        center: 'title',
	        end: 'prevYear,prev,today,next,nextYear'
      	},
      	buttonIcons:{
			  custom1:"bi bi-filter"
	  	},
		customButtons:{
	        custom1: {
	          	text: '필터',
	          	click: filterOpen
	        }
      	}
    });
    calendar.render();
});

function detailRecord(info){
	let d=info.event.start;
	let dd=d.getFullYear() + '.' + (d.getMonth()+1) + '.'+ d.getDate() + ' ' + 
	+ d.getHours() + ':' + d.getMinutes();
	
	$("#exampleModal .modal-body").html(`
		<p>카테고리: ${info.event.extendedProps.category}</p>
		<p>워크북 제목: ${info.event.title}</p>
		<p>시기: ${dd}</p>`)
	$("#exampleModal .modal-footer").html(`<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
			<button type="button" class="btn btn-danger" onclick="deleteRecord(${info.event.id})">삭제</button>`)
	
	myModal.show();
}

function deleteRecord(id){
	
	if ( !confirm('선택하신 기록을 삭제할까요?') ) {
        return false;
    }
	$.ajax({
		url:"/api/record/"+id,
		type:"DELETE",
		success:function(response){
			let event=calendar.getEventById(id);
			event.remove();
   			myModal.hide();
   			
		},
		error:function(request, status, error){
			console.log(error);
		}
	})
}
function filterOpen(){
	filterModal.show();
}

function filterRecord(){
	filteringWorkbook=$("input[name=filterWorkbook]").filter((index,element)=>{
		return element.checked;
	}).map((index,element)=>{return Number(element.value)});
	
	filteringCategory=$("input[name=filterCategory]").filter((index,element)=>{
		return element.checked;
	}).map((index,element)=>{return Number(element.value)});
	
	eventList=calendar.getEvents();
	eventList.map(item=>{item.remove()});
	calendar.addEventSource(eventList.filter(item=>{
		return $.inArray(item.extendedProps.workbook,filteringWorkbook) >= 0 || 
			$.inArray(item.extendedProps.category,filteringCategory) >= 0;
	}));
}
</script>

<script th:inline="javascript">
/*<![CDATA[*/
const items=[[${items}]];
/*]]>*/
</script>
</div>
</html>