<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
    <title>Testing</title>
</head>

<div th:if=${session.id} layout:fragment="header">
	<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<div class="d-flex">
			<h3 class="float-md-end mb-0">
				테스트
			</h3>
		</div>
	</div>
</div>

<div th:if=${session.id} layout:fragment="content">
	<!-- content -->
	<div class="overflow-auto text-nowrap">
		<a class="card h-100 w-25 p-5 mx-2 my-4 fs-5 d-inline-block text-center link-dark text-decoration-none"
			th:each="workbook : ${workbookList}" th:href="@{/testing/{id}(id=${workbook.id})}" th:text="${workbook.title}">
		</a>
	</div>
</div>
<div th:if=${session.id} layout:fragment="etc">
<script>
$(function() {
    $(".card").each(function() {
        var hue = 'rgb(' + (Math.floor((256-199)*Math.random()) + 200) + ',' + (Math.floor((256-199)*Math.random()) + 200) + ',' + (Math.floor((256-199)*Math.random()) + 200) + ')';
         $(this).css("background-color", hue);
    });
});
</script>
</div>
</html>
