<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
    <title>Workbook</title>
</head>

<div th:if=${session.id} layout:fragment="header">
	<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<div class="d-flex">
			<div id="workbook_header">
				<h3 class="float-md-end mb-0">워크북</h3>
			</div>
			<div class="hide" id="select_workbook_header">
				<button class="btn btn-outline-primary float-md-start mb-0 me-4" onclick="selectAllWorkbook(event)" id="btn_select_all_workbook">
					<i class="bi bi-circle"></i> 전체선택
				</button>
				<h3 class="float-md-start mb-0">
					<span id="select_workbook_count">0</span>개 선택됨
				</h3>
			</div>
		</div>
		
		<div class="justify-content-between float-md-end default-tool" id="workbook_menu">
			<button class="btn btn-outline-primary" onclick="selectWorkbookModeOn(event)">
				<i class="bi bi-check-circle"></i> 선택
			</button>
		</div>
		
		<!-- 문제집 선택 메뉴 -->
		<div class="justify-content-between float-md-end hide" id="select_workbook_menu">
			<button class="btn btn-outline-primary" onclick="selectWorkbookModeOff(event)">
				<i class="bi bi-x-circle"></i></i> 취소
			</button>
			<button class="btn btn-outline-danger" onclick="deleteWorkbook()">
				<i class="bi bi-trash"></i> 삭제
			</button>
		</div>
	</div>
</div>


<div th:if=${session.id} layout:fragment="toolbar" id="toolbar">
	<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-1 border-bottom">
		<div class="justify-content-between"></div>
		<div class="justify-content-center btn-group">
			<a th:href="@{/workbook(sort=${sortStd eq 'ranking'}? (${sort eq 'ASC'}? DESC:ASC):ASC,sortStd=ranking,view=${view eq 'list'}?'list':'card')}"
				class="btn btn-outline-secondary" th:classappend ="${sortStd eq 'ranking'} ? active : ''">
				기본
				<span th:if="${sortStd eq 'ranking'}">
					<span th:if="${sort eq 'ASC'}"><i class="bi bi-sort-alpha-down"></i></span>
					<span th:if="${sort eq 'DESC'}"><i class="bi bi-sort-alpha-down-alt"></i></span>
				</span>
			</a>
			<a th:href="@{/workbook(sort=${sortStd eq 'title'}? (${sort eq 'ASC'}? DESC:ASC):ASC,sortStd=title,view=${view eq 'list'}?'list':'card')}"
				class="btn btn-outline-secondary" th:classappend ="${sortStd eq 'title'} ? active : ''">
				이름
				<span th:if="${sortStd eq 'title'}">
					<span th:if="${sort eq 'ASC'}"><i class="bi bi-sort-alpha-down"></i></span>
					<span th:if="${sort eq 'DESC'}"><i class="bi bi-sort-alpha-down-alt"></i></span>
				</span>
			</a>
			<a th:href="@{/workbook(sort=${sortStd eq 'createAt'}? (${sort eq 'ASC'}? DESC:ASC):ASC,sortStd=createAt,view=${view eq 'list'}?'list':'card')}"
				class="btn btn-outline-secondary" th:classappend ="${sortStd eq 'createAt'} ? active : ''">
				생성
				<span th:if="${sortStd eq 'createAt'}">
					<span th:if="${sort eq 'ASC'}"><i class="bi bi-sort-alpha-down"></i></span>
					<span th:if="${sort eq 'DESC'}"><i class="bi bi-sort-alpha-down-alt"></i></span>
				</span>
			</a>
			<a th:href="@{/workbook(sort=${sortStd eq 'updateAt'}? (${sort eq 'ASC'}? DESC:ASC):ASC,sortStd=updateAt,view=${view eq 'list'}?'list':'card')}"
				class="btn btn-outline-secondary" th:classappend ="${sortStd eq 'updateAt'} ? active : ''">
				수정
				<span th:if="${sortStd eq 'updateAt'}">
					<span th:if="${sort eq 'ASC'}"><i class="bi bi-sort-alpha-down"></i></span>
					<span th:if="${sort eq 'DESC'}"><i class="bi bi-sort-alpha-down-alt"></i></span>
				</span>
			</a>
		</div>
		<div class="justify-content-between float-md-end">
			<a class="btn btn-outline-secondary " th:attrappend="class=${view eq 'list'}?'active':''"
				th:href="@{/workbook(sort=${sort},sortStd=${sortStd},view=${view eq 'list'}?'card':'list')}">
				<i class="bi bi-list-ul"></i>
			</a>
		</div>
	</div>
</div>	

<div th:if=${session.id} layout:fragment="content" class="mb-auto">
	<!-- content -->
	
	<!-- Card View -->
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" th:if="${view eq 'card'}">
		<div class="col" id="new_workbook">
	        <div class="card shadow-sm h-100">
				<button onclick="crateWorkbook()" class="btn btn h-100 w-100">
					<i class="bi bi-plus-square-dotted"></i> 워크북 추가하기
				</button>
          	</div>
		</div>
		
		<div class="col" th:each="workbook : ${items}">
			<a href="/workbook/" th:attrappend="href=${workbook.id}"
				class="card shadow-sm text-decoration-none link-dark h-100 selected_target"
				th:data-workbook-id="${workbook.id}">
				<div class="card-body w-auto py-5">
					<h5 class="card-title text-truncate text-center" th:text="${workbook.title}">title</h5>
				</div>
				<div class="card-footer">
					<div th:text="${#dates.format(#dates.create(#dates.year(workbook.updateAt),#dates.month(workbook.updateAt),#dates.day(workbook.updateAt),#dates.hour(workbook.updateAt)%12,#dates.minute(workbook.updateAt)), 'yyyy.MM.dd '+((#dates.hour(workbook.updateAt) >= 12)?'오후':'오전')+' HH시 mm분')}"></div>
				</div>
		  	</a>
		</div>
		
      	<div th:if="!${items}">워크북이 없습니다</div>
 	 </div>
	
	<!-- List View -->      
	<div class="list-group w-auto" th:if="${view eq 'list'}">
		<div class="list-group-item gap-3 py-3 w-100 justify-content-between" id="new_workbook">
			<button onclick="crateWorkbook()" class="btn mb-0 text-center">
				<i class="bi bi-plus-square-dotted"></i> 워크북 추가하기
			</button>
		</div>

		<a href="/workbook/" th:attrappend="href=${workbook.id}"
			class="list-group-item list-group-item-action d-flex gap-3 py-3 selected_target text-decoration-none link-dark"
			aria-current="true" th:each="workbook : ${items}" th:data-workbook-id="${workbook.id}">
			<div class="d-flex gap-2 w-100 justify-content-between">
				<h5 class="text-truncate text-center" th:text="${workbook.title}">title</h5>
				<div th:text="${#dates.format(#dates.create(#dates.year(workbook.updateAt),#dates.month(workbook.updateAt),#dates.day(workbook.updateAt),#dates.hour(workbook.updateAt)%12,#dates.minute(workbook.updateAt)), 'yyyy.MM.dd '+((#dates.hour(workbook.updateAt) >= 12)?'오후':'오전')+' HH시 mm분')}"></div>
			</div>
		</a>
		
  		<div th:if="!${items}">워크북이 없습니다</div>
	</div>
</div>

<div th:if=${session.id} layout:fragment="etc">
	<div class="modal fade" id="createWorkbookModal" tabindex="-1" aria-labelledby="createWorkbookModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">워크북 추가하기</h5>
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     			</div>
      			<div class="modal-body">
					<table class="table table-bordered">
				  		<tbody>
				    		<tr>
					      		<td scope="col">제목</td>
					      		<td scope="col"><input type="text" class="form-control" id="workbook_title" placeholder="제목을 입력하세요" required></td>
					    	</tr>
				    		<tr>
					      		<td scope="col">카테고리</td>
					      		<td scope="col"><select id="workbook_category" class="form-select"></select></td>
					    	</tr>
				  		</tbody>
					</table>
      			</div>
      			<div class="modal-footer">
    				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        			<button type="button" class="btn btn-primary" th:onclick="createOkWorkbook()">생성</button>
      			</div>
    		</div>
  		</div>
	</div>
<style>
.hide{display:none;}
</style>
<script>
let myModal;
$(document).ready(function(){
	myModal=new bootstrap.Modal('#createWorkbookModal')
})

function crateWorkbook(){
	myModal.show();
	$.ajax({
		url:"/api/category",
		type:"GET",
		success:function(response){
			categoryListHtml='';
			response.forEach(row=>{
				categoryListHtml+=`<option value="${row.id}">${row.title}</option>`;
			})
			$("#workbook_category").append(categoryListHtml);
			$("#workbook_category").val(0).prop("selected", true);
		},
		error:function(request, status, error){
			console.log(error);
		}
	})
}
function createOkWorkbook(){
	const param={
		title:$("#workbook_title").val(),
		category:$("#workbook_category").val()
	}
	$.ajax({
		url:"/api/workbook",
		type:"POST",
		contentType : 'application/json; charset=utf-8',
        data : JSON.stringify(param),
		success:function(response){
			location.href=location.href;
		},
		error:function(request, status, error){
			console.log(error);
		}
	})
}
</script>
<script>

const selectSet = new Set();
let count=0;

function selectWorkbookModeOn(event){
	// 레이아웃 설정
	$("#select_workbook_menu").removeClass("hide")
	$("#workbook_menu").addClass("hide");
	$("#select_workbook_header").removeClass('hide');
	$("#workbook_header").addClass('hide');
	
	// 워크북 추가 비활성화
	$("#new_workbook").addClass("hide");
	$("#new_workbook + a").css({"border-top-left-radius": "inherit","border-top-right-radius":"inherit","border-top-width": 1});
	
	// 툴바 비활성화
	$("#toolbar").addClass("hide");
	
	// 문제 클릭 시 이벤트 처리
	$(document).on("click","a.selected_target",selectWorkbook);
}

function selectWorkbookModeOff(event){
	// 레이아웃 설정
	$("#select_workbook_menu").addClass("hide")
	$("#workbook_menu").removeClass("hide");
	$("#select_workbook_header").addClass('hide');
	$("#workbook_header").removeClass('hide');
	$("a.selected_target").removeClass("text-bg-primary link-light").addClass("link-dark");
	
	// 워크북 추가 활성화
	$("#new_workbook").removeClass("hide");
	$("#new_workbook + a").css({"border-top-left-radius": "0","border-top-right-radius":"0","border-top-width": 0});
	
	// 툴바 활성화
	$("#toolbar").removeClass("hide");
	
	// 문제 클릭 시 이벤트 처리 삭제
	$(document).off("click","a.selected_target");
	
	// set 처리
	selectSet.clear();
	$("#select_workbook_count").text(selectSet.size);
	// 전체선택 활성화
	$(".bi-record-circle").addClass("bi-circle").removeClass("bi-record-circle");
	$("#btn_select_all_workbook").removeClass("active");
}

function selectAllWorkbook(event){
	
	// 전체선택됨
	if(selectSet.size==$("a.selected_target").length){
		// set에 추가
		$("a.selected_target").each((index,element)=>{
			selectSet.delete($(element).data("workbookId"))
		});
		// 레이아웃
		$("a.selected_target").removeClass("text-bg-primary link-light").addClass("link-dark");
		
		// 전체선택 활성화
		$(".bi-record-circle").addClass("bi-circle").removeClass("bi-record-circle");
		$("#btn_select_all_workbook").removeClass("active");
	}else{
		// set에 추가
		$("a.selected_target").each((index,element)=>{
			selectSet.add($(element).data("workbookId"))
		});
		
		// 레이아웃
		$("a.selected_target").addClass("text-bg-primary link-light").removeClass("link-dark");
		// 전체선택 비활성화
		$(".bi-circle").addClass("bi-record-circle").removeClass("bi-circle");
		$("#btn_select_all_workbook").addClass("active");
	}
	
	// 선택된 개수 표시
	$("#select_workbook_count").text(selectSet.size);
}

function selectWorkbook(event){
	event.preventDefault();
	// 선택된 카드 전환
	$(this).toggleClass("text-bg-primary link-light link-dark");
	let selectId=$(this).data("workbookId");
	// set에 선택된 select id 추가 및 삭제
	if(selectSet.has(selectId)) selectSet.delete(selectId);
	else selectSet.add(selectId);
	
	// 선택된 개수 표시
	$("#select_workbook_count").text(selectSet.size);
	
	// 전체선택 비활성화
	if(selectSet.size==$("a.selected_target").length){
		$(".bi-circle").addClass("bi-record-circle").removeClass("bi-circle");
		$("#btn_select_all_workbook").addClass("active");
	}
	else{
		$(".bi-record-circle").addClass("bi-circle").removeClass("bi-record-circle");
		$("#btn_select_all_workbook").removeClass("active");
	}
}


function deleteWorkbook(event){
    let total=selectSet.size
	if(total==0){
		alert("선택하신 문제가 없습니다.");
		return 0;
	}
	if ( !confirm('선택하신 문제집들을 삭제할까요?') ) {
        return false;
    }
    selectSet.forEach((id)=>{
		$.ajax({
			url:"/api/workbook/"+id,
			type:"DELETE",
			async:false,
			success:function(response){
				count++;
				if(total==count){
					location.href=location.href;
				}
			},
			error:function(request, status, error){
				console.log(error);
			}
		});
	});
	
	selectWorkbookModeOff();
}
</script>
</div>

</html>
