<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
    <title>Change Password</title>
</head>

<div th:if=${session.id} layout:fragment="header">
	<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<h3 class="float-md-start mb-0">비밀번호 변경하기</h3>
	</div>
</div>

<div th:if=${session.id} layout:fragment="content" >
	<!-- content -->
	<form action="upload" method="post">
		<input type="hidden" name="mbSeq" th:value="${userInfo.mbSeq}">
		<table class="table table-bordered">
	  		<tbody>
	    		<tr>
		      		<th scope="col">비밀번호</th>
		      		<th scope="col"><input type="text" name="mbPw" placeholder="새로운 비밀번호를 입력해주세요" class="form-control" required></th>
		    	</tr>
	  		</tbody>
		</table>
		<a href="/info" class="btn btn-secondary">취소</a>
		<input type="submit" value="변경하기" class="btn btn-primary">
	</form>
</div>
</html>
