<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
    <head>
        <title>workbook new</title>
    </head>
    <div layout:fragment="content">
		<!-- content -->
		<h3>문제 추가하기</h3>
		
		<form role="form" action="pnew/upload" method="post">
            <input type="hidden" name="id" placeholder="문제번호" required/>
            <input type="hidden" name="workbook" placeholder="문제집번호" th:value="${workbook}" required/>
			<input type="text" name="question" placeholder="문제을 입력하세요">
			<input type="text" name="answer" placeholder="정답을 입력하세요">
			<input type="submit" value="만들기">
		</form>
		
	</div>
</html>
