<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
    <title>problem detail</title>
</head>

<div th:if=${session.id} layout:fragment="header">
	<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<div class="d-flex">
			<a href="/workbook/" th:attrappend="href=${currProblem.workbook}" class="float-md-start mb-0 me-4 text-decoration-none btn btn-outline-primary">
				<i class="bi bi-chevron-left"></i>
			</a>
			<h3 class="float-md-end mb-0">
				문제 디테일
			</h3>
		</div>
		<div class="justify-content-between float-md-end" id="problem_tool">
			<button class="text-decoration-none btn btn-outline-primary" th:onclick="|updateProblem(${currProblem.id})|">
				<i class="bi bi-pencil"></i> 수정
			</button>
			<button class="text-decoration-none btn btn-outline-danger" th:onclick="|deleteProblem(${currProblem.id},${currProblem.workbook})|">
				<i class="bi bi-trash"></i> 삭제
			</button>
		</div>
		<div class="justify-content-between float-md-end hide" id="problem_tool_update">
			<button class="text-decoration-none btn btn-outline-secondary" th:onclick="|updateCancelProblem(${currProblem.id})|">
				취소
			</button>
			<button class="text-decoration-none btn btn-outline-primary" th:onclick="|updateOkProblem(${currProblem.id})|">
				변경
			</button>
		</div>
	</div>
</div>

<div th:if=${session.id} layout:fragment="toolbar">
	<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-1 border-bottom">
		<div class="justify-content-between"></div>
		<div class="justify-content-center btn-group" id="navigation">
			<a href="#" role="button" class="btn btn-outline-secondary disabled"
				th:if="${#strings.isEmpty(prevProblem)}" disabled><del>이전</del></a>
			<a th:href="@{/problem/{id}(id=${prevProblem.id},view=${view eq 'HORIZONTAL'}?'HORIZONTAL':'VERTICAL')}" role="button" 
				class="btn btn-outline-secondary" th:if="${not #strings.isEmpty(prevProblem)}">이전</a>
			
			<button type="button" class="btn btn-outline-info">
				<span th:text="${currProblem.ranking}"></span> / <span th:text="${totalProblem}"></span>
			</button>
			
			<a href="#" role="button" class="btn btn-outline-secondary disabled" th:if="${#strings.isEmpty(nextProblem)}" disabled><del>다음</del></a>
			<a th:href="@{/problem/{id}(id=${nextProblem.id},view=${view eq 'HORIZONTAL'}?'HORIZONTAL':'VERTICAL')}"  class="btn btn-outline-secondary" th:if="${not #strings.isEmpty(nextProblem)}">다음</a>
		</div>
		<div class="justify-content-between float-md-end">
			<a th:href="@{/problem/{id}(id=${currProblem.id},view='VERTICAL')}" class="btn btn-outline-secondary" th:attrappend="class=${view eq 'VERTICAL'}? ' active':''">
				<i class="bi bi-view-stacked"></i>
			</a>
			<a th:href="@{/problem/{id}(id=${currProblem.id},view='HORIZONTAL')}" class="btn btn-outline-secondary" th:attrappend="class=${view eq 'HORIZONTAL'}?' active':''">
				<i class="bi bi-vr"></i>
			</a>
		</div>
	</div>
</div>

<div th:if=${session.id} layout:fragment="content" class="mb-auto">
	<!-- content -->
	
	<div class="row" th:ondblclick="|updateProblem(${currProblem.id})|" th:attrappend="class=${view eq 'VERTICAL'}?' row-cols-1 g-1':' row-cols-2 g-2'">
		<div class="col">
     		<div class="card shadow-sm">
        		<div class="card-body">
          			<p class="card-text">
						<label for="problem_question" class="form-label">문제</label>
						<input type="text" class="form-control" id="problem_question" th:value="${currProblem.question}" placeholder="더블클릭으로 입력"  readonly>
		  			</p>
        		</div>
      		</div>
    	</div>
    
		<div class="col">
          	<div class="card shadow-sm">
            	<div class="card-body">
	              	<p class="card-text">
						<label for="problem_answer" class="form-label">정답</label>
						<input type="text" class="form-control" id="problem_answer" th:value="${currProblem.answer}" placeholder="더블클릭으로 입력" readonly>
				  	</p>
            	</div>
          	</div>
        </div>
    </div>
</div>

<div th:if=${session.id} layout:fragment="etc">
	
<style>
.hide{display:none;}
</style>
<script>
function deleteProblem(id,workbook){
	if ( !confirm('선택하신 문제를 삭제할까요?') ) {
        return false;
    }
	$.ajax({
		url:"/api/problem/"+id,
		type:"DELETE",
		success:function(response){
			location.href="/workbook/"+workbook;
		},
		error:function(request, status, error){
			console.log(error);
		}
	})
}
function updateProblem(id){
	$("#problem_question").attr("readonly",false);
	$("#problem_answer").attr("readonly",false);
	$("#problem_tool").addClass("hide")
	$("#problem_tool_update").removeClass('hide')
}
function updateCancelProblem(id){
	location.href="/problem/"+id;
}
function updateOkProblem(id){
	const param={
		id:id,
		answer:$("#problem_answer").val(),
		question:$("#problem_question").val(),
	}
	$.ajax({
		url:"/api/problem/"+id,
		type:"PUT",
		contentType : 'application/json; charset=utf-8',
        data : JSON.stringify(param),
		success:function(response){
			location.href=location.href;
		},
		error:function(request, status, error){
			console.log(error);
		}
	})
}
</script>
<script>
let startPoint = 0;
let endPoint = 0;
// PC slide
window.addEventListener("mousedown", (e) => {
  startPoint = e.pageX;
});

window.addEventListener("mouseup", (e) => {
  endPoint = e.pageX;
  if (startPoint+100 < endPoint) {
	  if($("#navigation").find("a").eq(0).attr("href")!="#")
	 	location.href= $("#navigation").find("a").eq(0).attr("href");
  } else if (startPoint-100 > endPoint) {
	  if($("#navigation").find("a").eq(1).attr("href")!="#")
	 	location.href= $("#navigation").find("a").eq(1).attr("href");
  }
});

window.addEventListener("keypress",(e)=>{
	console.log(e);
	if ($(e.target).closest("input")[0]) {
        return;
    }
    if(e.keyCode==65 ||e.keyCode==97 || e.keyCode==12609){
		if($("#navigation").find("a").eq(0).attr("href")!="#")
	 	location.href= $("#navigation").find("a").eq(0).attr("href");
	}else if(e.keyCode==68 ||e.keyCode==100 || keyCode==12615){
	  if($("#navigation").find("a").eq(1).attr("href")!="#")
	 	location.href= $("#navigation").find("a").eq(1).attr("href");
	}
})
</script>

</div>

</html>
