<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
    <head>
        <title>workbook new</title>
    </head>
    <div layout:fragment="content">
		<!-- content -->
		<h3>문제 수정하기</h3>
		
		<form role="form" action="upload" method="post">
            <input type="hidden" name="id" placeholder="문제번호" th:value="${item.id}" required/>
            <input type="hidden" name="workbook" placeholder="워크북번호" th:value="${item.workbook}" required/>
            <input type="hidden" name="ranking" placeholder="랭킹" th:value="${item.ranking}" required/>
			<input type="text" name="question" placeholder="변경할 문제을 입력하세요" th:value="${item.question}" required>
			<input type="text" name="answer" placeholder="변경할 답안을 입력하세요" th:value="${item.answer}" required>
			<input type="submit" value="수정">
		</form>
		
	</div>
</html>
