<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
    <title>Testing</title>
</head>

<div th:if=${session.id} layout:fragment="header">
	<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<div class="d-flex">
			<a href="/workbook/" th:attrappend="href=${workbook.id}" class="float-md-start mb-0 me-4 text-decoration-none btn btn-outline-primary">
				<i class="bi bi-chevron-left"></i>
			</a>
			<h3 class="float-md-end mb-0">
				테스트
			</h3>
		</div>
		<div class="justify-content-between float-md-end">
			<a href="/workbook/" th:attrappend="href=${workbook.id}" class="btn btn-outline-danger text-decoration-none">
				<i class="bi bi-x-circle"></i> 취소
			</a>
		</div>
	</div>
</div>

<div th:if=${session.id} layout:fragment="toolbar">
	<div class="d-flex justify-content-center py-1 mb-1 border-bottom position-relative">
		<div class="justify-content-between"></div>
		<div class="text-center">
	    	<button class="btn btn-outline-secondary " th:attrappend="class=${isRand}?active:''" data-bs-toggle="button" onclick="toggleRandom()" th:aria-pressed="${isRand}">
				<i class="bi bi-shuffle"></i> 랜덤
			</button>
		</div>
		<div class="position-absolute end-0">
			<button id="showOverlap" class="btn btn-outline-secondary" th:attrappend="class=${view eq 'OVERLAP'}?' active':''")>
				<del>
					<i class="bi bi-layers"></i></i>
				</del>
			</button>
			<button id="showVertical" class="btn btn-outline-secondary" th:attrappend="class=${view eq 'VERTICAL'}?' active':''")>
				<del>
					<i class="bi bi-view-stacked"></i>
				</del>
			</button>
			<button id="showHorizontal" class="btn btn-outline-secondary" th:attrappend="class=${view eq 'HORIZONTAL'}?' active':''")>
				<del>
					<i class="bi bi-vr"></i>
				</del>
			</button>
		</div>
	</div>
</div>
<div th:if=${session.id} layout:fragment="content">
	<!-- content -->
	
	<!-- 준비 -->
	<div th:if="${count}==0" class="px-4 py-5 my-5 text-center">
		<h3 class="mb-4 fw-bold" th:text="${workbook.title}"></h3>
		<div class="col-lg-6 mx-auto" th:if="${total}!=0">
			<p class="lead mb-4">
				<span th:text="${total}"></span>문제
			</p>
			<form th:action="|/testing/${workbook.id}|" method="post">
				<input type="hidden" name="workbook" th:value="${workbook.id}">
				<input type="hidden" name="total" th:value="${total}">
				<input type="hidden" th:name="|problemIdList[${listStat.index}]|" th:value="${list}" th:each="list : ${problemIdList}">
				<input type="hidden" name="count" th:value="${count}">
				<input type="hidden" name="view" th:value="${view}">
				<input type="hidden" name="isRand" value="false">
				<input type="submit" value="시작하기" class="btn btn-primary btn-lg">
			</form>
		</div>
		<div th:if="${total}<=0" class="col-lg-6 mx-auto">
			문제가 없습니다.
		</div>
	</div>
	
	<!-- 테스트 -->
	<div th:if="${count}>0 and ${end} !=0">
		<!-- 네비게이션 -->
		<div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center">
			<form th:action="|/testing/${workbook.id}|" method="post" id="next">
				<input type="hidden" name="workbook" th:value="${workbook.id}">
				<input type="hidden" name="total" th:value="${total}">
				<input type="hidden" th:name="|problemIdList[${listStat.index}]|" th:value="${list}" th:each="list : ${problemIdList}">
				<input type="hidden" name="problemId" th:if="${problem}" th:value="${problem.id}">
				<input type="hidden" name="count" th:value="${count}" >
				<input type="hidden" name="view" th:value="${view}" id="test_view" >
				<input type="hidden" name="isRand" th:value="${isRand}" id="isRand">
				
				<input type="button" value="오답" class="btn btn-outline-danger" onclick="submitWrong()">
				<span th:text="${count}"></span><span> / </span><span th:text="${total}"></span>
				<input type="button" value="정답" class="btn btn-outline-primary" onclick="submitRight()">
			</form>
		</div>
		
		<hr>
		
		<!-- 문제 표시 -->
		<div th:if="${total}>0" class="mx-auto w-75 text-center" onclick="displayAnswer()">
			<div class="showVertical" th:attrappend="class=${view eq 'VERTICAL'}?'':' hide'">
				<div class="card shadow-sm mb-4 px-5 pt-4 pb-5">
					<h5 class="card-title text-start text-muted">Question</h5>
					<h5 class="card-text" th:text="${problem.question}">question</h5>
				</div>
				<div class="card shadow-sm px-5 pt-4 pb-5 hide answer">
					<h5 class="card-title text-start text-muted">Answer</h5>
					<h5 class="card-text" th:text="${problem.answer}">answer</h5>
				</div>
			</div>
			<div class="showHorizontal" th:attrappend="class=${view eq 'HORIZONTAL'}?'':' hide'">
				<div class="row">
  					<div class="col-sm-6">
						<div class="card shadow-sm mb-4 px-5 pt-4 pb-5">
							<h5 class="card-title text-start text-muted">Question</h5>
							<h5 class="card-text" th:text="${problem.question}">question</h5>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card shadow-sm px-5 pt-4 pb-5 hide answer">
							<h5 class="card-title text-start text-muted">Answer</h5>
							<h5 class="card-text" th:text="${problem.answer}">answer</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="showOverlap" th:attrappend="class=${view eq 'OVERLAP'}?'':' hide'">
				<div class="card shadow-sm mb-4 px-5 pt-4 pb-5 question">
					<h5 class="card-title text-start text-muted">Question</h5>
					<h5 class="card-text" th:text="${problem.question}">question</h5>
				</div>
				<div class="card shadow-sm px-5 pt-4 pb-5 hide answer">
					<h5 class="card-title text-start text-muted">Answer</h5>
					<h5 class="card-text" th:text="${problem.answer}">answer</h5>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 끝 -->
	<div th:if="${end} == 0" class="px-4 py-5 my-5 text-center">
		<h3 class="mb-4 fw-bold">학습 완료</h3>
		<div class="col-lg-6 mx-auto" th:if="${total}!=0">
			<p class="lead mb-4">
				<span th:text="${#dates.format(#dates.create(#dates.year(#dates.createNow()),#dates.month(#dates.createNow()),#dates.day(#dates.createNow()),(#dates.hour(#dates.createNow())+9)%12,#dates.minute(#dates.createNow())), 'yyyy.MM.dd '+((#dates.hour(#dates.createNow())+9 >= 12)?'오후':'오전')+' HH시 mm분')}"></span>
				복습 완료.
			</p>
			<a href="/record" class="btn btn-outline-primary btn-lg">기록으로 이동</a>
			<a href="/workbook/" th:attrappend="href=${workbook.id}" class="btn btn-outline-primary btn-lg">문제집으로 이동</a>
		</div>
	</div>		
</div>

<div th:if=${session.id} layout:fragment="etc">
<style>
.hide{display:none;}
</style>
<script>
$(document).ready(function(){
	$("#showOverlap").on("click",function(){
		$("#showOverlap").addClass("active").siblings().removeClass("active");
		$(".showOverlap").removeClass("hide").siblings().addClass("hide");
		$("#test_view").val("OVERLAP");
	})
	$("#showVertical").on("click",function(){
		$("#showVertical").addClass("active").siblings().removeClass("active");
		$(".showVertical").removeClass("hide").siblings().addClass("hide");
		$("#test_view").val("VERTICAL");
	})
	$("#showHorizontal").on("click",function(){
		$("#showHorizontal").addClass("active").siblings().removeClass("active");
		$(".showHorizontal").removeClass("hide").siblings().addClass("hide");
		$("#test_view").val("HORIZONTAL");
	})
})
	
	
function toggleRandom(){
	$("input[name=isRand]")[0].value=$("input[name=isRand]")[0].value=="false"?"true":"false";
}

function submitWrong(){
	$("#next").append($("<input type='hidden' name='isRight' value='false'>"));
	$("#next").submit();
}
function submitRight(){
	$("#next").append($("<input type='hidden' name='isRight' value='true'>"));
	$("#next").submit();
}
function displayAnswer(){
	if($("#showOverlap").hasClass("active")){
		if($(".answer").hasClass("hide")){
			$(".question").addClass("hide");
			$(".answer").removeClass("hide");
		}else{
			$(".question").removeClass("hide");
			$(".answer").addClass("hide");
		}
	}else{
		$(".answer").toggleClass("hide");
	}
}

</script>
</div>
</html>
