<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
    <title>workbook detail</title>
</head>

<div th:if=${session.id} layout:fragment="header">
	<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<div class="d-flex">
			<a href="/workbook" class="float-md-start mb-0 me-4 text-decoration-none btn btn-outline-primary">
				<i class="bi bi-chevron-left"></i>
			</a>
			<h3 class="float-md-end mb-0">
				<span th:text="${item.title}"></span> - <span th:text="${category.title}"></span>
			</h3>
		</div>
		<div class="justify-content-between float-md-end">
			<a th:href="@{/testing(workbook=${item.id})}" class="text-decoration-none btn btn-outline-primary">
				<i class="bi bi-journal-check"></i> 테스트
			</a>
			<button class="text-decoration-none btn btn-outline-primary">
				<del><i class="bi bi-clipboard-data"></i> 통계</del>
			</button>
			<button class="text-decoration-none btn btn-outline-primary">
				<del><i class="bi bi-check-circle"></i> 선택</del>
			</button>
			<button class="text-decoration-none btn btn-outline-primary" th:onclick="|updateWorkbook(${item.id})|">
				<i class="bi bi-pencil"></i> 수정
			</button>
			<button class="text-decoration-none btn btn-outline-danger" th:onclick="|deleteWorkbook(${item.id})|">
				<i class="bi bi-trash"></i> 삭제
			</button>
		</div>
	</div>
</div>
			
<div th:if=${session.id} layout:fragment="toolbar">
	<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-1 border-bottom">
		<div class="justify-content-between"></div>
		<div class="justify-content-center btn-group">
			
			
			<a th:href="@{/workbook/{id}(id=${item.id},sort=${sortStd eq 'ranking'}? (${sort eq 'ASC'}? DESC:ASC):ASC,sortStd=ranking)}"
				class="btn btn-outline-secondary" th:classappend ="${sortStd eq 'ranking'} ? active : ''">
				기본
				<span th:if="${sortStd eq 'ranking'}">
					<span th:if="${sort eq 'ASC'}"><i class="bi bi-sort-alpha-down"></i></span>
					<span th:if="${sort eq 'DESC'}"><i class="bi bi-sort-alpha-down-alt"></i></span>
				</span>
			</a>
			<a th:href="@{/workbook/{id}(id=${item.id},sort=${sortStd eq 'question'}? (${sort eq 'ASC'}? DESC:ASC):ASC,sortStd=question)}"
				class="btn btn-outline-secondary" th:classappend ="${sortStd eq 'question'} ? active : ''">
				문제
				<span th:if="${sortStd eq 'question'}">
					<span th:if="${sort eq 'ASC'}"><i class="bi bi-sort-alpha-down"></i></span>
					<span th:if="${sort eq 'DESC'}"><i class="bi bi-sort-alpha-down-alt"></i></span>
				</span>
			</a>
			<a th:href="@{/workbook/{id}(id=${item.id},sort=${sortStd eq 'answer'}? (${sort eq 'ASC'}? DESC:ASC):ASC,sortStd=answer)}"
				class="btn btn-outline-secondary" th:classappend ="${sortStd eq 'answer'} ? active : ''">
				답안
				<span th:if="${sortStd eq 'answer'}">
					<span th:if="${sort eq 'ASC'}"><i class="bi bi-sort-alpha-down"></i></span>
					<span th:if="${sort eq 'DESC'}"><i class="bi bi-sort-alpha-down-alt"></i></span>
				</span>
			</a>
			<a th:href="@{/workbook/{id}(id=${item.id},sort=${sortStd eq 'createAt'}? (${sort eq 'ASC'}? DESC:ASC):ASC,sortStd=createAt)}"
				class="btn btn-outline-secondary" th:classappend ="${sortStd eq 'createAt'} ? active : ''">
				생성
				<span th:if="${sortStd eq 'createAt'}">
					<span th:if="${sort eq 'ASC'}"><i class="bi bi-sort-alpha-down"></i></span>
					<span th:if="${sort eq 'DESC'}"><i class="bi bi-sort-alpha-down-alt"></i></span>
				</span>
			</a>
			<a th:href="@{/workbook/{id}(id=${item.id},sort=${sortStd eq 'updateAt'}? (${sort eq 'ASC'}? DESC:ASC):ASC,sortStd=updateAt)}"
				class="btn btn-outline-secondary" th:classappend ="${sortStd eq 'updateAt'} ? active : ''">
				수정
				<span th:if="${sortStd eq 'updateAt'}">
					<span th:if="${sort eq 'ASC'}"><i class="bi bi-sort-alpha-down"></i></span>
					<span th:if="${sort eq 'DESC'}"><i class="bi bi-sort-alpha-down-alt"></i></span>
				</span>
			</a>
		</div>
		<div class="justify-content-between float-md-end">
			<button id="showList" class="btn btn-outline-secondary" data-bs-toggle="button">
				<i class="bi bi-list-ul"></i>
			</button>
		</div>
	</div>
</div>	

<div th:if=${session.id} layout:fragment="content" class="mb-auto">
	<!-- content -->
	
	<!-- Card View -->   
	<div class="showCard">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			<div class="col">
		        <div class="card shadow-sm">
		            <div class="card-body">
						<p class="card-text text-center">
							<button th:onclick="|createProblem(${item.id})|" class="btn">
								<i class="bi bi-plus-square-dotted"></i> 문제 추가하기
							</button>
				    	</p>
		            </div>
	          	</div>
			</div>
		        
	        <div class="col" th:each="item : ${items}">
				<div class="card shadow-sm">
					<div class="card-body">
		            	<p class="card-text">
				  			<a href="/problem/" th:attrappend="href=${item.id}" class="list-group w-auto text-decoration-none">
								<span class="list-group-item" th:text="${item.question}">q</span>
								<span class="list-group-item" th:text="${item.answer}">a</span>
						  	</a>
					  	</p>
		            </div>
		            <div class="card-footer">
						<div th:text="${#dates.format(item.updateAt, 'yyyy-MM-dd HH:mm:ss')}"></div>
					</div>
	          	</div>
	        </div>
	 	 </div>
	</div>
	<!-- List View -->      
	<div class="showList">
		<div class="list-group w-auto">
			<a th:href="@{workbook/new}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
				<div class="d-flex gap-2 w-100 justify-content-between">
					<div>
						<h6 class="mb-0"><i class="bi bi-plus-square-dotted"></i>문제 추가하기</h6>
					</div>
				</div>
			</a>
	
			<a href="/workbook/" th:attrappend="href=${item.id}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" th:each="item : ${items}">
				<div class="d-flex gap-2 w-100 justify-content-between">
	  				<div>
	   					<h6 class="mb-0" th:text="${item.question}"></h6>
	  				</div>
				</div>
			</a>
		</div>
	</div>
</div>

<div th:if=${session.id} layout:fragment="etc">
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">워크북 수정하기</h5>
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     			</div>
      			<div class="modal-body">
      			</div>
      			<div class="modal-footer">
    				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        			<button type="button" class="btn btn-primary" th:onclick="|updateOkWorkbook(${item.id})|">저장</button>
      			</div>
    		</div>
  		</div>
	</div>
	
<style>
.hide{display:none;}
</style>
<script>
let myModal;
$(document).ready(function(){
	myModal=new bootstrap.Modal('#exampleModal')
	$(".showList").addClass("hide");
	 
	$("#showList").on("click",function(){
		$(".showList").toggleClass("hide");
		$(".showCard").toggleClass("hide");
	});
})

function deleteWorkbook(id){
	if ( !confirm('선택하신 워크북를 삭제할까요?') ) {
        return false;
    }
	$.ajax({
		url:"/api/workbook/"+id,
		type:"DELETE",
		success:function(response){
			location.href="/workbook";
		},
		error:function(request, status, error){
			console.log(error);
		}
	})
}

function updateWorkbook(id){
	myModal.show();
	$.ajax({
		url:"/api/workbook/"+id,
		type:"GET",
		success:function(response){
			let category=response.category;
			$(".modal-body").html(`
				<table class="table table-bordered">
			  		<tbody>
			    		<tr>
				      		<td scope="col">제목</td>
				      		<td scope="col"><input type="text" class="form-control" id="workbook_title" placeholder="변경할 제목을 입력하세요" value="${response.title}" required></td>
				    	</tr>
			    		<tr>
				      		<td scope="col">카테고리</td>
				      		<td scope="col"><select id="workbook_category" class="form-select"></select></td>
				    	</tr>
			  		</tbody>
				</table>
			`)
			$.ajax({
				url:"/api/category",
				type:"GET",
				success:function(response){
					categoryListHtml='';
					response.forEach(row=>{
						categoryListHtml+=`<option value="${row.id}">${row.title}</option>`;
					})
					$("#workbook_category").append(categoryListHtml);
					$("#workbook_category").val(category).prop("selected", true);
				},
				error:function(request, status, error){
					console.log(error);
				}
			})
		},
		error:function(request, status, error){
			console.log(error);
		}
	})
}
function updateOkWorkbook(id){
	const param={
		id:id,
		title:$("#workbook_title").val(),
		category:$("#workbook_category").val()
	}
	$.ajax({
		url:"/api/workbook/"+id,
		type:"PUT",
		contentType : 'application/json; charset=utf-8',
        data : JSON.stringify(param),
		success:function(response){
			location.href="/workbook/"+id;
		},
		error:function(request, status, error){
			console.log(error);
		}
	})
}
</script>
<script>
function createProblem(workbook){
	const param={
		workbook:workbook
	}
	$.ajax({
		url:"/api/problem",
		type:"POST",
		contentType : 'application/json; charset=utf-8',
        data : JSON.stringify(param),
		success:function(response){
			location.href="/problem/"+response.id;
		},
		error:function(request, status, error){
			console.log(error);
		}
	})
}
</script>
</div>

</html>
