<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
    <head>
        <title>workbook new</title>
    </head>
    <div layout:fragment="content">
		<!-- content -->
		<h3>워크북 추가하기</h3>
		
		<form role="form" action="upload" method="post">
            <input type="hidden" name="id" placeholder="워크북번호" th:value="${item.id}" required/>
			<input type="text" name="title" placeholder="변경할 제목을 입력하세요" th:value="${item.title}" required>
			<input type="submit" value="수정">
		</form>
		
	</div>
</html>
